body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  /* background-color: #03A9F4*/
  padding-bottom: 5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header{
  text-align: center;
}

#h1-text{
  margin-top: -4%;
  color: #71b7da;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  
}

.batman{
  background-color: white;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
 
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 12px;
  border: 1px solid;
}

th {
  background-color: white;
}

/* td {

} */

tr:nth-child(even){
  background-color: #f2f2f2;
}


/* form {
  gap: 5px;
  margin-right: 5rem; 
} */

#form{
  padding: 10px 15px;
  margin: 5px 0;
}


form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size:15px;
  border-radius: 10px;
  font-family: 'Mulish', sans-serif;
}

#textarea{
  width: 14rem;
  height: 3rem;
  margin: 0.5%;
  font-family: 'Mulish', sans-serif;
}

#client{
  margin: 0.5%;
}

#role{
  margin: 0.5%;
}

#quantity{
  margin: 0.5%;
}
#email{
  margin: 0.5%;
}

#poc{
  margin: 0.5%;
}

.search {
  padding-bottom: 2rem;
}

#spyglass{
  padding-right: .5rem;
}

.searchTerm {
  width: 12rem;
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
}

.orange-background {
  background-color: orange; 
}

.red-background {
  background-color: red;
  color: white;
  border-color: black;
}

#add-to-table-font {
  color: #71b7da;
}

